*,
*:after,
*:before
  box-sizing: border-box

body
  margin: 0
  color: $text-color

h1, h2, h3, h4, h5, h6, p, ul, hr
  margin: 0
  padding: 0
  list-style: none

img
  max-width: 100%
  object-fit: cover

a, button
  cursor: pointer

.button
  border-radius: 8px
  border: none
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  transition: $transition

.line
  height: 3px
  border: none
  border-radius: $border-radius
  background-color: $blue-color

.col-lg-12--pr, .col-md-12--pr
  position: relative

.vendor-code
  position: absolute
  top: 20px
  left: 0
  padding: 5px 10px
  font-family: $Montserrat
  font-weight: 300
  font-size: 12px
  background-color: $blue-color
  color: $light-color
  border-radius: 0 4px 4px 0

// .test
//   background-image: url(../images/svg/bold-arrows.svg)
//   background-position: bottom
//   background-size: cover
//   bottom: 0
//   left: 0
//   position: absolute
//   right: 0
//   top: 0
