@mixin hover
  @media (min-width: 992px)
    &:not([disabled]):hover
      @content
@mixin title
  position: relative
  font-family: $Open-Sans
  font-style: normal
  font-weight: 700
  letter-spacing: $letter-spacing
  color: inherit
  &:before
    content: ""
    position: absolute
    bottom: -6px
    left: 0
    width: 60px
    height: 3px
    background-color: $primary-color
    border-radius: $border-radius
  &--h2
    font-size: 28px
  &--h3
    font-size: 18px
@mixin link
  position: relative
  font-family: $Montserrat
  font-weight: 500
  font-size: 16px
  font-style: normal
  letter-spacing: $letter-spacing
  text-decoration: none
  color: $primary-color
  transition: $transition
  &:before
    content: ''
    position: absolute
    bottom: -2px
    width: 100%
    height: 1px
    background-color: $primary-color
    transition: $transition
  +hover
    &:before
      width: 0

@mixin tab
  position: relative
  display: flex
  align-items: center
  max-width: 50%
  margin: 0 auto
  list-style: none
  background-color: $light-color
  border-radius: $border-radius
  overflow: hidden
  &__item
    position: relative
    flex-basis: 50%
    padding: 10px 0
    font-family: $Open-Sans
    font-size: 14px
    font-weight: 600
    font-style: normal
    letter-spacing: $letter-spacing
    text-align: center
    cursor: pointer
    transition: $transition
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      bottom: 0
      width: 0%
      background-color: $primary-color
      transition: $transition
    &--active
      z-index: 2
      color: $light-color
      &:before
        width: 100%
        z-index: -1
    +hover
      color: $light-color
      &:before
        width: 100%

@mixin input
  font-family: $Montserrat
  font-size: 13px
  font-weight: 400
  font-style: normal
  letter-spacing: $letter-spacing
  outline: none
  color: inherit

@mixin btn-font
  font-family: $Open-Sans
  font-weight: 600
  font-style: normal
  letter-spacing: $letter-spacing

@mixin btn-red
  color: $light-color
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)
  background-size: 200% auto
  +hover
    background-position: right center; /* change the direction of the change here */

@mixin btn-blue
  color: $light-color
  background-image: linear-gradient(to right, #0575E6 0%, #021B79 51%, #0575E6 100%)
  background-size: 200% auto
  +hover
    background-position: right center; /* change the direction of the change here */

@mixin btn-yellow
  color: $light-color
  background-image: linear-gradient(to right, #F7971E 0%, #FFD200 51%, #F7971E 100%)
  background-size: 200% auto
  box-shadow: 0 0 20px #eee
  +hover
    background-position: right center; /* change the direction of the change here */

@mixin wrapper
  background: $light-color
  box-shadow: 0px 0px 5px 3px rgba(180, 186, 196, 0.8)
  border-radius: $border-radius
  overflow: hidden
