.breadcrumb
  padding-top: 15px
  padding-bottom: 15px
  &__title
    &:before
      content: none
  &-list
    display: flex
    align-items: center
    flex-wrap: wrap
    max-height: 20px
    margin: 0
    padding: 0
    list-style: none
    overflow: hidden
    &__item
      &:not(:last-child)
        &:after
          content: '/'
          margin-right: 4px
    &__page
      font-family: $Montserrat
      font-weight: 500
      font-size: 12px
      font-style: normal
      letter-spacing: $letter-spacing
      color: inherit
      &--link
        transition: $transition
        text-decoration: none
        +hover
          color: $primary-color
