.breadcrumb
  padding-top: 15px
  padding-bottom: 15px
  &-list
    display: flex
    align-items: center
    &__item
      &:not(:last-child)
        &:after
          content: '/'
          margin-right: 4px
    &__page
      font-family: $Montserrat
      font-weight: 500
      font-size: 12px
      font-style: normal
      letter-spacing: $letter-spacing
      color: inherit
      &--link
        transition: $transition
        text-decoration: none
        +hover
          color: $primary-color
