.goods
  padding-bottom: 50px
  &-slider
    padding-top: 50px
    padding-bottom: 50px
    background: linear-gradient( 99.6deg, rgba(112,128,152,1) 10.6%, rgba(242,227,234,1) 32.9%, rgba(234,202,213,1) 52.7%, rgba(220,227,239,1) 72.8%, rgba(185,205,227,1) 81.1%, rgba(154,180,212,1) 102.4% )
    overflow: hidden
    &__img
      width: 200px
    &__container
      position: static
      width: 0
      height: 0
      transition: transform .5s ease
      &--stock
        transform: translateX(-100%)
      &--hits
        transform: translateY(100%)
      &--novelties
        transform: translateX(100%)
      &--active
        width: initial
        height: initial
        transform: initial
    &__slide
      position: relative
      display: flex
      flex-direction: column
      width: 250px
      padding: 10px
      background-color: $light-color
      border: 2px solid $blue-color
      border-radius: $border-radius
    &__btn
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 56px
      height: 56px
      padding: 0
      color: $light-color
      background-color: $blue-color
      box-shadow: 0px 12px 16px rgba(0,0,0,0.08)
      border-radius: 50%
      border: none
      z-index: 99
      cursor: pointer
      transition: $transition
      +hover
        width: 76px
        height: 76px
      &--prev
        left: 15px
        transform: translate(-50%, -50%)
      &--next
        right: 15px
        transform: translate(50%, -50%)
      &--disabled
        display: none
    &__good
      &-link
        margin-bottom: 11px
        font-family: $Montserrat
        font-size: 15px
        font-weight: 400
        font-style: normal
        letter-spacing: $letter-spacing
        line-height: 20px
        text-decoration: none
        color: inherit
    &__img
      display: block
      margin: 0 auto
    &__category
      &-link
        margin-bottom: 5px
        font-family: $Montserrat
        font-size: 13px
        font-weight: 400
        font-style: normal
        letter-spacing: $letter-spacing
        line-height: 20px
        text-align: left
        text-decoration: none
        color: #757575
    &__info
      display: flex
      align-items: start
      justify-content: space-around
  &-tabs
    padding: 0
    &__item
      &:before
        background-color: $blue-color
      &:after
        background-color: $blue-color
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 15px
  &__btn
    width: 100%
    padding: 10px 0
    font-size: 14px
    color: inherit
    +hover
      box-shadow: 0px 0px 5px 3px $blue-color
  &-sorting
    display: flex
    align-items: center
    justify-content: start
    &__title
      margin-right: 10px
      font-family: $Open-Sans
      font-size: 14px
      font-weight: 600
      font-style: normal
      letter-spacing: $letter-spacing
    &__select
      padding: 2px 5px
      font-family: $Montserrat
      font-size: 12px
      font-weight: 400
      font-style: normal
      letter-spacing: $letter-spacing
      color: inherit
      border: none
      border: 1px solid $blue-color
      outline: none
      border-radius: 3px
      cursor: pointer
  &-view
    display: flex
    align-items: center
    justify-content: end
    &__btn
      display: flex
      align-items: center
      justify-content: center
      background-color: transparent
      padding: 5px
      color: inherit
      +hover
        background-color: $blue-color
        color: $light-color
      &--active
        background-color: $blue-color
        color: $light-color
  &-list
    margin: 0
    padding: 0
    list-style: none
    &__item
      display: flex
      justify-content: space-between
      align-items: start
      padding: 15px
      background-color: $light-color
      box-shadow: 0px 0px 5px 3px rgba(180, 186, 196, 0.8)
      border-radius: $border-radius
      overflow: hidden
      transition: $transition
      &:not(:last-child)
        margin-bottom: 20px
      +hover
        box-shadow: 0px 0px 5px 3px $blue-color
      &-link
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        &--img
          flex-shrink: 0
          width: 200px
          height: 200px
          margin-right: 10px
      &-img
        display: block
        width: 100%
        height: 100%
        object-fit: initial
      &-title
        max-width: 250px
        font-family: $Montserrat
        font-size: 18px
        font-weight: 500
        font-style: normal
        letter-spacing: $letter-spacing
        color: $blue-color
        transition: $transition
        +hover
          color: $primary-color
      &-info
        font-family: $Montserrat
        font-size: 13px
        font-weight: 500
        font-style: normal
        letter-spacing: $letter-spacing
        outline: none
        color: inherit
        &:not(:last-child)
          margin-bottom: 5px
        &--data
          color: $blue-color
        &--atribbute
          font-weight: 400
      &-input
        @include input
        width: 40px
        height: 40px
        padding: 0 8px
        text-align: center
        border: 1px solid $blue-color
        border-radius: 3px
        overflow: hidden
      &-btn
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        padding: 10px 0
        font-size: 14px
        padding: 11px 0
        text-align: center
        text-transform: uppercase
        @include btn-blue
        &--cart
          @include btn-red
          margin-left: 10px
          padding: 10px 15px
      &-icon
        margin-right: 5px
  &-table
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 1rem
    margin: 0
    padding: 0
    list-style: none
    &__item
      position: relative
      &-wrapper
        display: flex
        flex-direction: column
        padding: 15px
        background-color: $light-color
        box-shadow: 0px 0px 5px 3px rgba(180, 186, 196, 0.8)
        border-radius: $border-radius
        transition: $transition
        +hover
          box-shadow: 0px 0px 5px 3px $blue-color
      &-img
        display: flex
        height: 240px
        margin-bottom: 20px
        padding: 15px
        &>img
          width: 100%
          height: 100%
          object-fit: initial
      &-link
        display: block
        height: 40px
        margin-bottom: 20px
        font-family: $Montserrat
        font-size: 16px
        font-weight: 500
        font-style: normal
        letter-spacing: $letter-spacing
        color: $blue-color
        text-decoration: none
        overflow: hidden
        text-overflow: ellipsis
        transition: $transition
        +hover
          color: $primary-color
      &-btn
        display: flex
        justify-content: center
        align-items: center
        padding: 13px
        border-radius: $border-radius
        @include btn-blue
        &--cart
          @include btn-red
.cart-btn
  background-color: transparent
  color: inherit
  +hover
    color: $primary-color
.compare-btn
  background-color: transparent
  color: inherit
  +hover
    color: $primary-color
.noUi
  &-connect
    background-color: $blue-color
  &-target
    background-color: rgba(117, 117, 117, 0.2)
    border: none
    box-shadow: none
    height: 5px
  &-handle
    border: none
    border-radius: 50%
    background-color: $blue-color
    box-shadow: none
    &:before, &:after
      display: none
.noUi-horizontal .noUi-handle
  width: 20px
  height: 20px
  top: -7px
.noUi-horizontal .noUi-handle-lower
  right: -4px
// .noUi-horizontal .noUi-handle-upper
//   padding: 0 16px
